@import "tailwindcss";

@theme {
  --color-gantt-pink: #ff6b9d;
  --color-gantt-green: #3ff37d;
  --color-gantt-yellow: #f7ca1d;
  --color-gantt-orange: #f79e1d;
  --color-gantt-black: #000000;
}

body {
  font-family: var(--font-inter), sans-serif;
}